
01-factory-method/target/
02-abstract-factory/target/
03-builder/target/
04-prototype/target/
04-prototype-deepcopy/target/
99-test/target/
05-singleton/target/
03-builder-printer/.settings/
03-builder/.settings/
04-prototype-deepcopy/.settings/
99-test/.settings/
04-prototype/.settings/
05-singleton/.settings/
01-factory-method/.settings/
*.classpath
*.project
02-abstract-factory/.settings/
03-builder-print/.settings/
03-builder-printer/target/
.settings/
.metadata/
07-bridge/target/
